/*
 * CSS file for calendar application
 * @author: Rohit Anand
 */

.calendar{
    position: relative;
    height: 1460px;
    width: 700px;
}

.calendar > .axis{
    height: 100%;
    width: 600px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    margin-left: 80px;
    margin-bottom: 20px;
    position: relative;
}

.calendar > .axis > .row{
	position: absolute;
	opacity: 0.8;
}

.calendar > .timeContainer{
	position: absolute;	
}

.calendar > .timeContainer > .timeY {
    position: relative;
    height: 120px;
}